h1, h2, h3, h4, li{
  font-family: 'Open Sans', sans-serif;
  color: #171919
}

.headTitle{
  font-size: 3em
}
.colTitle{
  font-size: 2.3em
}

li{
  font-size: 1.4em
}

p, span, section{
  font-family: 'Roboto', sans-serif;
  color: #171919
}
