html, body
  margin: 0px
  padding: 0px
  overflow-x: hidden

.body
  display: flex
  flex-direction: column

.content
  display: flex
  flex-direction: column
  flex: 1

.colOne
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-image: url(/images/lancing.jpg)
  background-position: right
  background-size: cover
  height: 100vh


.head
  display: flex
  flex-direction: column
  justify-content: center
  flex: 1

.title, .subTitle, .scroll
  display: none

.icons
  display: flex
  flex-direction: row
  justify-content: space-around
  width: 100%
  text-align: center

.iconsFade
  display: none

#colTwo
  display: flex
  flex-direction: column
  justify-content: center
  height: 650px
  margin-bottom: 20px

.whoWeAre
  display: flex
  justify-content: center

.paraSeperatorContainer
  display: flex
  justify-content: center
  margin: 20px 0px 20px 0px

.paraSeperator
  width: 50%
  height: 300px

.aboutPara
  width: 40%
  text-align: center
  line-height: 1.6
  margin: 0 auto

.whatWeDoContainer
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center

.whatWeDoPara
  display: flex
  align-self: center
  line-height: 1.43
  width: 40%

.contactContainer
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

.contactFormContainer
  display: flex
  justify-content: center

.contactForm
  display: flex
  flex-direction: column
  width: 40%

.formInput::placeholder
  text-indent: 10px

.formInput
  border-radius: 3px
  border: 1px solid #2C343B
  padding: 5px
  height: 25px

.submitContainer
  display: flex
  justify-content: center

.formSubmit
  width: 20%
  padding: 5px
  height: 35px
  margin: 10px 10px 30px 10px

.formTextArea
  height: 125px

.colFive
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%

iframe
  margin-bottom: 20px

.footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  height: 120px



@include bp(baby-bear)
  .aboutPara
    width: 90%

  .paraSeperator
    width: 90%
  .whatWeDoPara
    display: flex
    align-self: center
    width: 90%

  .contactForm
    width: 70%

  .formSubmit
    width: 50%
