@import 'fonts'
@import 'normalise'
@import '_mixins'
/* page styles */
html
  height: 100%
  margin: 0px
  padding: 0px

body
  display: flex
  flex-direction: column
  min-height: 100vh
  background: white
  width: 100%

a, a:visited
  color: inherit

/* Header Styles*/
.head
  text-align: center
  width: 100%
  background: #EE537C

.headTitle
  color: #fff
  letter-spacing: 6px

/* Content styles */
.body
  display: flex
  flex-direction: column
  flex-grow: 1
  width: 100%
  margin: 0 auto
  background: #F5F5F9

.content
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: top
  width: 100%
  margin-top: 30px
  h2
    letter-spacing: 3px
    font-weight: bold

.col
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  width: 40%

.about
  width: 80%
  font-size: 1.2em
  line-height: 1.3em

/*Contact Form*/
form
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%

input,
textarea
  width: 100%
  margin: 10px

input
  height: 30px

.formText,
.formSubmit,
.formName,
.formEmail,
.formPhone
  border: 1px solid #616161
  border-radius: 5px

.formSubmit
  width: 125px
  height: 40px
  background: #EE537C
  color: white
  border: 0px
  &:hover
    background: #EA365D
    cursor: pointer

/* Footer Styles*/
#footer
  display: flex
  justify-content: center
  align-items: center
  font-weight: bold
  height: 80px
  width: 100%
  text-align: center
  background: #EE537C
  letter-spacing: 3px
  p
    color: #fff
    font-size: 1.3em

/*Images*/
.cleaning
  width: 95%
  height: 250px

.headShot
  width: 150px
  height: 150px
  border-radius: 100%

/*Media Queries*/
@include bp(baby-bear)
  .headTitle
    font-size: 2em
    letter-spacing: 2px

  .body
    width: 100%

  .content
    display: flex
    flex-direction: column

  .col
    width: 100%

  .border
    border: 1px solid #EE537C
    width: 70%
    height: 5%
    margin: 0 auto

  .cleaning
    width: 90%
    height: 250px

  form
    width: 90%
