@import 'fonts'
@import 'normalise'
@import '_mixins'
@import 'layout'

li
  list-style-type: none

ul
  padding: 0px

a
  text-decoration: none
  color: inherit

a:visited
  color: inherit

#colOne
  background: #EE537C

.title
  font-size: 6em
  letter-spacing: 2px
  text-align: center
  color: #FFF
  margin: 0px

.titleUnderline
  border: 1px solid #fff
  margin: 10px
  width: 100%

.icons
  color: #fff

.icons svg
  border: 5px solid #fff
  border-radius: 100%
  padding: 5px

.scroll
  color: #fff
  opacity: 0.7
  font-size: 1.3em

.footer
  background: #363671
  color: #fff
  p
    font-size: 17px
    margin: 5px
  a
    text-decoration: underline
@include bp(baby-bear)
  .title
    font-size: 3em
